table,th,td,tr{
    border:1px solid black;
    border-collapse: collapse;
    padding: 20px 50px;
}
td{
    background-color: blueviolet;
}
th{
    background-color: aqua;
}
.o{
    background-color: orangered;
}
.y{
    background-color: gold;
}
.w{
    background-color: brown;
    text-align: center;
}